body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
}

header {
}

main {
  flex-grow: 1;
}
 .tags {
 border: 5px solid blue;
 margin: 10px
 }

footer {
}
